<h1>Burgers</h1>
<div class="menu">
  <div class="madeToOrder">
    {{!-- grouping for burgers where devoured = false --}}
    <h1>Made to Order!</h1>

    <div class="item">
      {{#each burgers}}
      {{#unless devoured}}
      {{!--burger name--}}
      <h2>{{burger_name}}</h2>
      {{!-- button to devour or order another (move to Made to Order) --}}
      <button class="devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devour}}Devoured! Order another!{{else}}Devour your burger!{{/if}}
      </button>
      {{/unless}}
      {{/each}}
    </div>
  </div>
  <div class="alreadyEaten">
    {{!-- grouping for burgers where devoured = true --}}
    <h1>Already Eaten!</h1>

    <div class='item'>
      {{#each burgers}}
      {{#if devoured}}
      {{!--burger name--}}
      <h2>{{burger_name}}</h2>
      {{!-- button to devour or order another (move to Made to Order) --}}
      <button class="devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devour}}Devoured! Order another!{{else}}Devour your burger!{{/if}}
      </button>
      {{/if}}
      {{/each}}
    </div>
  </div>

<div class="addBurger">
{{!-- form to create/add new burger --}}
<h1>Add a Burger</h1>
<form class="form">
  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Devour?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Already Eaten!<br>
    <input type="radio" name="sleepy" value="0"> Made to Order!
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>
</div>